*{
    margin: 0%;
    padding: 0%;
}
.breadcrumbs-custom {
	position: relative;
	overflow: hidden;
	padding: 40px 0;
	text-align: center;
	background-color: #cccccc;
	z-index: 1;
    background-image: url('/img/pexels-mathilde-langevin-18278184.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumbs-custom-path {
	margin-left: -15px;
	margin-right: -15px;
	font-size: 14px;
	line-height: 1.33;
	font-weight: 500;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif, Arial, sans-serif;
}

.breadcrumbs-custom-path > * {
	padding-left: 15px;
	padding-right: 15px;
}

.breadcrumbs-custom-path a {
	display: inline;
	vertical-align: middle;
	color: #ffffff;
}

.breadcrumbs-custom-path a, .breadcrumbs-custom-path a:active, .breadcrumbs-custom-path a:focus {
	color: #ffffff;
}

.breadcrumbs-custom-path a:hover {
	text-decoration: underline;
}

.breadcrumbs-custom-path li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.breadcrumbs-custom-path li::after {
	content: "/";
	display: inline-block;
	position: absolute;
	top: 50%;
	right: -8px;
	color: white;
	transform: translate3d(0, -50%, 0);
}

.breadcrumbs-custom-path li:last-child:after {
	display: none;
}

.breadcrumbs-custom-path a:hover {
	color: #ffffff;
}

.breadcrumbs-custom-path li.active {
	color: rgba(255, 255, 255, 0.53);
}

* + .breadcrumbs-custom-path {
	margin-top: 14px;
}

@media (min-width: 576px) {
	* + .breadcrumbs-custom-path {
		margin-top: 18px;
	}
}

@media (min-width: 1200px) {
	.breadcrumbs-custom {
		padding: 150px 0;
	}
}

@media (min-width: 1600px) {
	.breadcrumbs-custom-inset {
		max-width: 1920px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 75px;
		padding-right: 75px;
	}
}
.div1{
 background-color: blue;
 height: 300px;
 margin: 0%;
 padding: 0%;
}
.div1 img{
    width: 600px;
    height: 500px;
}

.section2 img{
 width: 400px;
 height: 500px;
 margin: 100px 80px 150px;
 border-radius: 30px;
 box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
}
.section2 div{
	width: 40%;
	margin-left: 100px;
	margin-top: 150px;
}

.section3 img{
	border-radius: 45%;
	width: 250px;
}
.section3 p{
	width: 60%;
	float: right;
	
}
.section3 {
	padding-right: 40px;
	padding: 40px 50px;
	background-color:#F6F5F2 ;
}
.section3 div{
	margin-top: 20px;
}
