*{
    margin: 0%;
    padding: 0%;
}
.breadcrumbs-custom {
	position: relative;
	overflow: hidden;
	padding: 40px 0;
	text-align: center;
	background-color: #cccccc;
	z-index: 1;
    background-image: url('/img/pexels-mathilde-langevin-18278184.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumbs-custom-path {
	margin-left: -15px;
	margin-right: -15px;
	font-size: 14px;
	line-height: 1.33;
	font-weight: 500;
	
	letter-spacing: .1em;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif, Arial, sans-serif;
}



.breadcrumbs-custom-path a, .breadcrumbs-custom-path a:active, .breadcrumbs-custom-path a:focus {
	color: #ffffff;
}

.breadcrumbs-custom-path a:hover {
	text-decoration: underline;
}

.breadcrumbs-custom-path li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

@media (min-width: 576px) {
	* + .breadcrumbs-custom-path {
		margin-top: 18px;
	}
}

@media (min-width: 1200px) {
	.breadcrumbs-custom {
		padding: 300px 0;
	}
}

@media (min-width: 1600px) {
	.breadcrumbs-custom-inset {
		max-width: 1920px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 75px;
		padding-right: 75px;
	}
}
.div1{
 background-color: blue;
 height: 300px;
 margin: 0%;
 padding: 0%;
}
.div1 img{
    width: 600px;
    height: 500px;
}

.box-position img{
	width: 100%;
	height: 800px;
}
.section2 img{
 width: 400px;
 height: 500px;
 margin: 100px 80px 150px;
 border-radius: 30px;
 box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
}
.section2 div{
	width: 40%;
	margin-left: 100px;
	margin-top: 150px;

}

.section2 p{
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
}

.section2 h1{
	font-family: 'Times New Roman', Times, serif;
	font-size: 40px;
	font-style: italic;

}
.footer-basic {
	background-color: #ffffff;
	color: #4b4c4d;
	padding-top: 20px;
	position: "";
	bottom: 0;
	width: 100%;
	position: fixed;
  }
  
  .footer-basic ul {
	padding: 0;
	list-style: none;
	text-align: center;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 0;
  }
  
  .footer-basic li {
	padding: 0 10px;
  }
  
  .footer-basic ul a {
	color: inherit;
	text-decoration: none;
	opacity: 0.8;
  }
  
  .footer-basic ul a:hover {
	opacity: 1;
  }
  
  .footer-basic .social {
	text-align: center;
	padding-bottom: 25px;
  }
  
  .footer-basic .social>a {
	font-size: 24px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #ccc;
	margin: 0 8px;
	color: inherit;
	opacity: 0.75;
  }
  
  .footer-basic .social>a:hover {
	opacity: 0.9;
  }
  
  .footer-basic .copyright {
	margin-top: 15px;
	text-align: center;
	font-size: 13px;
	color: #aaa;
	margin-bottom: 0;
  }
  
  footer {
	margin-top: auto;
	background-color:#F2EFE5;
	color: black;
	line-height: 2.4;
	padding: 26px;
	margin-top: 30px;
	margin-bottom: 0%;
  }
  
  .rights {
	font-size: 14px;
	background-color: #76383e9e;
	color: white;
  }
  
  iframe {
	border-radius: 10px;
  }
  
  #texti {
	color: black;
	text-decoration: none;
  }
  
  .section0 {
	background-color: #F2EFE5;
	margin: 10px auto;
	border-radius: 40px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .footer-corporate-bottom-panel {
	background-color: rgba(183, 131, 131, 0.248);
	margin: 0%;
  }
