
.navbar {
    background: rgb(255,255,255);
   
}
.navbar img{
    width: 60px;
    height: 50px;
}
.navbar-nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-right: 50px;
    font-weight: bold;
    margin: 10px 0;
}

.divblog {
    flex: 1; /* Take up 1 part of the available space */
    padding: 20px; /* Add some padding */
    margin:  20px 30px;
    display: flex;
}
.foto1 img {
    height: 300px;
    width: 400px;
    margin-left: 30px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    flex: 1 ;
   
    
    
   }
   .foto1{
     padding: 10px;
    
   } 
   
   .divblog p {
    margin: 30px 20px 30px 60px;
    font-family:'Times New Roman', Times, serif;
    font-size: 16.5px;
   }
 .divblog1 h1 {
    
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    background-color: #f1e9e6;
    
 }

 * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
  }
  
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
    font-family:Brush Script MT,Brush Script Std,cursive;
    font-style: oblique;
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }
  .container12 {
    position: relative;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .image {
    display: block;
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.5);
    
  }
  
  .container12:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color:#765827;
    font-size: 15px;
    font-style: italic ;
    font-weight: bold;
    position:inherit;
    font-family: Garamond (serif);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align:justify;
  }
  
  .h2blog{

    text-align: center;
    text-transform: uppercase;
    padding: 32px;
   
    color: black;
    
    font-family:Brush Script MT,Brush Script Std,cursive;
    font-style: oblique;
    border-bottom: 1px solid #0a0a23;
  }
  