*{
    margin: 0;
    padding: 0;
}
.navbar {
    background: rgb(255,255,255);
   
}
.navbar img{
    width: 86px;
    height: 56px;
    margin-left: 15px;
}
.navbar-nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-right: 50px;
    font-weight: bold;
    margin: 10px 0;
}


#carouselExampleIndicators img{
  display: block;
  width: 100%;
  height: auto;
}
#navbarNav  ul ,li{
    
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul {
    list-style-type: none; /* removes bullet points */
    width: 100%; /* makes the list take up the full width of its parent */
    display: flex; /* makes the list items display in a row */
    justify-content: space-between; /* adds space between the list items */
}

li {
    padding: 0.5em; /* adds some space around each list item */
}

.logo{
    width: 100px;
    background-image: none;
    height: 90px;
    margin-left: 10px;
    
}

footer {
  margin-top: auto;
  background-color: #f1e7e1;
  line-height: 2.4;
  padding: 26px;
  margin-top: 30px;
  margin-bottom: 0%;
}

iframe{
  border-radius: 10px;
}

#texti {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/*fixing the text at the event part */
.card{
    margin-top: 50px;
    margin-bottom: 70px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card-body{
    text-align: center;
    
}
.card-text{
    font-size: 16px;
}
.card-title{
    font-weight: 600;
    font-family: Georgia, serif ;
}
.card img{
    height: 160px;
    
}
.card-text{
    font-family: cursive;
}
.card-img-top {
    width: 100%;
    height: 195px;
  }
.event-text p {
    font-size: 14px;
    font-family: cursive;
    align-items: center;
    padding: 0;
    margin: 0;
}
.event-text h5{
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.eventh1{
   margin-inline-start: 44%;
   margin-top: 70px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: #3D0C11;
   font-weight: bold;
}

.caroseldiv{
align-items: center;
justify-content: center;
margin: 8px 10px 8px 50px;

}
.caroseldiv p{
    font-size: 15px;
    font-family: Arial, sans-serif;
   
}
.caroseldiv h1{
    
    margin-left: 30%;
   
}
/* soni's work*/
  .div1 {
    flex: 1; /* Take up 1 part of the available space */
    padding: 30px; /* Add some padding */
    margin:  20px 30px;
  
    text-align: center;
   

  }
  
  .div1 h1{
    color: #3D0C11;
    font-family: cursive;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    line-height: 1;
    display: inline-block;
    margin-bottom: 10px;
  }
  .div1 h2{
    color: #3D0C11;
    font-family:cursive;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    line-height: 1.;
    display: inline-block;
  }

  .div1 p{
    font-family: cursive;
    font-size: 18px;
    padding: 20px;
    margin: 20px;
    width: 50%; 
    height: auto;
    margin: 0 auto; /* Center the paragraph horizontally */
    border-bottom: 1px solid #2C3639 ;
  }
  
  /*ina's work */
  .carousel-item img {
    width: 600px;
    margin: 15px;
    height: 500px ;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    object-fit: cover;
    
  }
#carouselExample{
    margin-top: 100px;
    margin-bottom: 0;
}
  .carousel-item p{
    font-size: 15px;
    margin:25px  ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  
  }
.element-text{
    margin-top: 50px;
    width: 700px;
    align-items: center;
}
 
.element-text h3{
    text-align:center;
     color: #2C3639;
     font-weight: bold;
     font-family: Georgia, 'Times New Roman', Times, serif;
    

}
.btn {
    
    -webkit-border-radius: 19;
    -moz-border-radius: 19;
    border-radius: 19px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 22px;
    background: #2C3639;
    padding: 9px 30px 10px 30px;
    text-decoration: none;
    margin-left: 262px;
  margin-top: 61px;
    
  }
  
  .btn:hover {
    background: #C8AE7D;
    text-decoration: none;   
    
  }
  #carouselExample{

    padding: 0;
   
  }
  .sectioncol{
    background-color: #f1e7e1;
    padding-top: 4px;
  }
  .element-text1{
    margin: 50px 30px;
  }
  .element-text1 h4{
    text-align: center;
  }


.inaCarosel img{
    width: 50%;
    margin-left: 40px;
    object-fit: cover;
}
.element-text{
    width: 50%;
}

/* Responsiviteti */
@media screen and (max-width: 412px) {
  .secondcontainer{
      margin-top: 0px;
     padding-left: 10px;
     padding-top: 0px;
  }
  
    .div1 {
      max-width: 100%;
       /* Take up 1 part of the available space */
     padding: 0px; /* Add some padding */
  
    }
    .photo1{
      padding: 34px;
    }
  .photo1 img {
    height: 405px;
    width: 490px;
    margin-left: 45px;
    margin-right: 20px;
    margin-top: 46px;
    border-radius: 36px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
     }
     .div1 h1{
      margin: -5px -6px 10px ;
      font-size: 15px;
      line-height: 1;
      position: absolute;
      padding-top: 0px;
    }
    .div1 p{
      margin: 3px -21px 0px ;
      font-family: cursive;
      font-size: 10px;
      position: absolute;
      padding-top: 50px;
      padding-right: 118px;
      padding-left: 0px;
    }
    /*fixitin the text at the event part*/
    .card{
      margin-top: 20px;
      margin-bottom: 70px;
      height: 350px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .card-body{
      text-align: center;
      
  }
  .card-text{
      font-size: 10px;
  }
  .card-title{
      font-weight: bold;
      font-size: 10px;
      font-family: Georgia, serif ;
  }
  .card img{
      height: 160px;
  }
  .card-text{
      font-family: cursive;
      position: relative;
  }
  .card-img-top {
      width: 100%;
      height: 195px;
    }
  .event-text p {
      font-size: 8px;
      font-family: cursive;
      align-items: center;
      padding: 0;
      margin: 0;
  }
  .event-text h5{
      padding: 0;
      margin: 0;
      font-size: 10px;
      font-family: cursive;
  }
  .eventh1{
     margin-inline-start: 44%;
     margin-top: 10px;
     font-weight: bold;
  }
  .sectioncol{
      background-color: #f1e7e1;
      padding-top: 3px;
      width: 104%;
    }
/* fix the products part*/
/*ina's work */
.carousel-item img {
  width: 179px;
  margin: 84px 31px 0px 38px;
  height: 239px;
 box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  align-items: center;
  
}
#carouselExample{
  margin-top: 20px;
  margin-bottom: 20px;
}
.carousel-item p{
  font-size: 12px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin: -1px 48px 18px;

}
.element-text{
  margin-top: 50px;
  width: 700px;
  align-items: center;
}

.element-text h3{
  text-align:center;
   color: #2C3639;
   font-weight: bold;
   padding-top:10px ;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.carousel-item h3{
  
  margin: -50px 48px 18px;

}
.btn {
  
  margin-left: -1px;
  margin-top: -551px;
  
  
}
.somephoto{
flex-direction: column;
}
.somephoto img{
width: 50%;
}
}
@media only screen and (min-width: 414px) and (max-height: 897px) 
{ 
 
#carouselExampleIndicators img{
  display: block;
  width: 100%;
  height: auto;
}



#texti {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/*fixing the text at the event part */
.card{
    margin-top: 50px;
    margin-bottom: 70px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card-body{
    text-align: center;
    
}
.card-text{
    font-size: 16px;
}
.card-title{
    font-weight: 600;
    font-family: Georgia, serif ;
}
.card img{
    height: 160px;
    
}
.card-text{
    font-family: cursive;
}
.card-img-top {
    width: 100%;
    height: 195px;
  }
.event-text p {
    font-size: 14px;
    font-family: cursive;
    align-items: center;
    padding: 0;
    margin: 0;
}
.event-text h5{
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.eventh1{
   margin-inline-start: 44%;
   margin-top: 70px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: #3D0C11;
   font-weight: bold;
}

.caroseldiv{
align-items: center;
justify-content: center;
margin: 8px 10px 8px 50px;

}
.caroseldiv p{
    font-size: 15px;
    font-family: Arial, sans-serif;
   
}
.caroseldiv h1{
    
    margin-left: 30%;
   
}
/* soni's work*/
  .div1 {
    flex: 0; /* Take up 1 part of the available space */
    padding: 10px; /* Add some padding */
    margin: -2px -236px;
  
    text-align: center;
   

  }
  
  .div1 h1{
    color: #3D0C11;
    font-family: cursive;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    line-height: 1;
    display: inline-block;
    margin-bottom: 10px;
  }
  .div1 h2{
    color: #3D0C11;
    font-family:cursive;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    line-height: 1.;
    display: inline-block;
  }

  .div1 p{
    font-family: cursive;
    font-size: 18px;
    padding: 20px;
    margin: 20px;
    width: 50%; 
    height: auto;
    margin: 0 auto; /* Center the paragraph horizontally */
    border-bottom: 1px solid #2C3639 ;
  }
  
  /*ina's work */
  .carousel-item img {
    width: 600px;
    margin: 15px;
    height: 500px ;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    object-fit: cover;
    
  }
#carouselExample{
    margin-top: 100px;
    margin-bottom: 0;
}
  .carousel-item p{
    font-size: 15px;
    margin:25px  ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  
  }
.element-text{
    margin-top: 50px;
    width: 700px;
    align-items: center;
}
 
.element-text h3{
    text-align:center;
     color: #2C3639;
     font-weight: bold;
     font-family: Georgia, 'Times New Roman', Times, serif;
    

}
.btn {
    
    -webkit-border-radius: 19;
    -moz-border-radius: 19;
    border-radius: 19px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 22px;
    background: #2C3639;
    padding: 9px 30px 10px 30px;
    text-decoration: none;
    margin-left: 262px;
  margin-top: 61px;
    
  }
  
  .btn:hover {
    background: #C8AE7D;
    text-decoration: none;   
    
  }
  #carouselExample{

    padding: 0;
   
  }
  .sectioncol{
    background-color: #f1e7e1;
    padding-top: 4px;
  }
  .element-text1{
    margin: 50px 30px;
  }
  .element-text1 h4{
    text-align: center;
  }


.inaCarosel img{
    width: 50%;
    margin-left: 40px;
    object-fit: cover;
}
.element-text{
    width: 50%;
}

 }