.navbar {
    background: rgb(255,255,255);
   
}
.navbar img{
    width: 60px;
    height: 50px;
}
.navbar-nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-right: 50px;
    font-weight: bold;
    margin: 10px 0;
}


#carouselExampleIndicators img{
    width: 100%;
    height: 500px;
}
#navbarNav  ul ,li{
    
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul {
    list-style-type: none; /* removes bullet points */
    width: 100%; /* makes the list take up the full width of its parent */
    display: flex; /* makes the list items display in a row */
    justify-content: space-between; /* adds space between the list items */
}

li {
    padding: 0.5em; /* adds some space around each list item */
}
.btn {
    -webkit-border-radius: 31;
    -moz-border-radius: 31;
    border-radius: 31px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 21px;
    background: #945932;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #d67d4d;
    text-decoration: none;
  }

.logo{
    width: 100px;
    background-image: none;
    height: 90px;
    margin-left: 10px;
}
footer{
    margin-top: 20px;
    background-color: #23242d;
    color: white;
    text-align: center;
    padding-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.rights{
    color: white;
    font-size: 20px;
   
  
  width: 100%;
}
.footer-corporate {
    position: static; /* or position: relative; */
    height: 230px;
   
}




/* Responsiviteti */

@media screen and (min-width: 500px) {
    body{
        
        
    }
    p{
        font-size: 20px;
    }
}
@media screen and (min-width: 1440px) {
    body{
   
    }
    p{
        font-size: 20px;
    }
    h1{
       
    }
}


@media screen and (max-width: 320px) {
    body{
    
    }
    p{
        font-size: 20px;
    }
}

@media screen and (min-width: 321px)  and (max-width: 768px){
    body{
  
    }
    p{
        font-size: 20px;
    }
}

@media screen and (min-width: 769px)  and (max-width: 1024px){
    body{
       
    p{
        font-size: 20px;
    }
}

}

.footer-corporate-bottom-panel {
    background-color: #23242d;
  
   
}

    


.footer-corporate-bottom-panel p {
    margin: 0;
    font-size: 12px;
    color: rgb(91, 90, 90);
    background-color: #23242d;
    margin: 0%;
    padding: 0%;
    margin-bottom: 4px;
}
#texti{
    color: white;
text-decoration: none;

}